body {
    background-color: lightblue;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
}
h1 {
    color: blue;
    text-align: center;
}
.my-photo {
    background-color: pink;
    padding: 20px;
    text-align: center;
}
.header {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid;
}
.info {
    border-left: 10px solid red;
    padding-left: 5px;
    color: blue;
    margin-top: 30px;
    font-family: 'Vollkorn', serif;
    align-items: stretch
}
.header-link {
    background-color: lightgray;
    color: black;
    margin: 10px;
    font-weight: bold;
}
.title {
    font-family: 'Vollkorn', serif;
}
.main {
    display: flex;
    flex-grow: 1;
}